.container {
    border: 1pt solid black;
    background-color: beige;
}


/* #who-wins-section {
    visibility: hidden; 
} */
/* keeps images a certain size */
.card-img-top {
    max-height: 200px;
    max-width: 200px;
    border: 1pt solid orange;
}

.choice {
    font-size: 20px;
}